* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

// img {
//   object-fit: cover;
//   object-position: center;
// }

/* для плавного скролла после перехода по ссылке */
html {
  scroll-behavior: smooth;
}

/* ставлю для всех a, что бы не повторяться */
a {
  text-decoration: none;

  /* цвет родителя, что бы не прописывать visited */
  color: inherit;
  cursor: url(../icons/la_hand-pointer-white.svg), pointer;

  // &:hover {
  //   text-decoration: none;
  // }
}

button {
  cursor: pointer;
  cursor: url(../icons/la_hand-pointer-gray.svg), pointer;

  // cursor: url("../icons/la_hand-pointer.svg"), auto;
}
