$container-width: 1320px;
$responsive-padding: 15px;

.container {
  margin: 0 auto;
  padding: 0 $responsive-padding;

  max-width: $container-width;
  box-sizing: content-box;
}

@media (max-width: 835px) {
  .container {
    $responsive-padding: 69px;
  }
}

@media (max-width: 390px) {
  .container {
    $responsive-padding: 26px;
  }
}
