.container {
  margin: 0 auto;
  padding: 0 15px;

  max-width: 1320px;
  box-sizing: content-box;
}

/* sb тут space-between */
.flex-wrapper-row-sb {
  display: flex;

  justify-content: space-between;
}

.flex-wrapper-row-sb-aic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-wrapper-row-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-wrapper-col-aic {
  display: flex;

  flex-direction: column;
  align-items: center;
}

.flex-wrapper-col-cen-aic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-wrapper-col-sb-aic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 69px;
  }
}

@media (max-width: 564px) {
  .container {
    padding: 0 24px 0 30px;
  }
}
