$container-width: 1320px;
$responsive-padding: 15px;

.container {
  margin: 0 auto;
  padding: 0 $responsive-padding;

  max-width: $container-width;
  box-sizing: content-box;
}

@media (max-width: 835px) {
  $responsive-padding: 69px;

  .container {
    padding: 0 $responsive-padding;
  }
}

@media (max-width: 560px) {
  $responsive-padding: 26px;

  .container {
    padding: 0 $responsive-padding;
  }
}
