@charset "UTF-8";
:root {
  /* переменные именуются с -- */
  --secondary-bg: #f7f7f7;
  --accent-color: #4f8ff0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1320px;
  box-sizing: content-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

/* для плавного скролла после перехода по ссылке */
html {
  scroll-behavior: smooth;
}

/* ставлю для всех a, что бы не повторяться */
a {
  text-decoration: none;
  /* цвет родителя, что бы не прописывать visited */
  color: inherit;
}

button {
  cursor: pointer;
}

.contacts {
  min-height: 52px;
  gap: 28px;
}

@media (max-width: 662px) {
  .contacts__item-contact:nth-of-type(2) {
    display: none;
  }
}
.item-contact__text {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 120%;
  display: flex;
  align-items: center;
}
.item-contact a {
  display: flex;
  align-items: center;
  gap: 7px;
}

.logo__title {
  color: var(--white-color-100, #fff);
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  line-height: 130%; /* 30px */
  text-transform: lowercase;
}
.logo__highlight {
  color: var(--blue-color-100, #4f8ff0);
  font-size: 28px;
  text-transform: uppercase;
  display: block;
}

@media (max-width: 1024px) {
  .logo__title {
    font-size: 16px;
  }
  .logo__highlight {
    font-size: 22px;
  }
}
.nav {
  transition: 0.3s;
}
.nav__list {
  display: flex;
  gap: 32px;
  color: var(--white-color-100, #fff);
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  /* убираю маркеры списка */
  list-style: none;
}
.nav__link:hover {
  color: #4f8ff0;
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .nav {
    display: none;
  }
}
.person {
  position: relative;
  max-width: 320px;
  color: #222;
  cursor: url(../icons/la_hand-pointer.svg), pointer;
  /* минимальная ширина по адаптивному макету */
  min-width: 300px;
  background: #fff;
  box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
}
.person__img {
  display: block;
  /* что бы ширина зависела от родителя */
  width: 100%;
  height: 320px;
  /* это свойство для того, если вдруг картинка не загрузится */
  background: lightgray;
  /* если картинка будет другого размера, стандартный шаблон */
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.person__text {
  padding: 24px 16px;
  text-align: center;
}
.person__name {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
}
.person__post {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 120%;
  text-transform: lowercase;
}
.person__name, .person__post {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.person__desc {
  margin-top: 40px;
  font-weight: 300;
}
.person__experience {
  margin-top: 40px;
  font-weight: 600;
  font-size: 16px;
}
.person__overlay {
  position: absolute;
  opacity: 0;
  inset: 0;
  text-align: center;
  padding: 83px 15px;
  background: #fff;
  color: #222;
  transition: 0.3s;
  min-height: inherit;
}
.person__overlay:hover {
  opacity: 1;
}

@media (max-width: 1265px) {
  .person__name {
    margin-top: -6px;
  }
  .person__post {
    margin-top: 10px;
  }
  .person__desc {
    margin-top: 20px;
  }
  .person__experience {
    margin-top: 10px;
  }
}
@media screen and (max-width: 564px) {
  .person {
    min-width: 250px;
  }
}
.subtitle {
  display: block;
  margin: 0 auto;
  color: var(--colors-black-text, #222);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}

@media (max-width: 1024px) {
  .subtitle {
    font-size: 16px;
  }
}
@media (max-width: 564px) {
  .subtitle {
    font-size: 14px;
  }
}
.corner {
  width: 35px;
  height: 35px;
  border: none;
  position: relative;
}
.corner__lt {
  position: absolute;
  top: 20px;
  left: 20px;
  border-top: 1px solid var(--white-color-100, #fff);
  border-left: 1px solid var(--white-color-100, #fff);
}
.corner__lt_small {
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--blue-color-100, #4f8ff0);
  border-left: 1px solid var(--blue-color-100, #4f8ff0);
}
.corner__lb {
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-bottom: 1px solid var(--white-color-100, #fff);
  border-left: 1px solid var(--white-color-100, #fff);
}
.corner__lb_small {
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--blue-color-100, #4f8ff0);
  border-left: 1px solid var(--blue-color-100, #4f8ff0);
}
.corner__rt {
  position: absolute;
  top: 20px;
  right: 20px;
  border-top: 1px solid var(--white-color-100, #fff);
  border-right: 1px solid var(--white-color-100, #fff);
}
.corner__rt_small {
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--blue-color-100, #4f8ff0);
  border-right: 1px solid var(--blue-color-100, #4f8ff0);
}
.corner__rb {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-right: 1px solid var(--white-color-100, #fff);
  border-bottom: 1px solid var(--white-color-100, #fff);
}
.corner__rb_small {
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--blue-color-100, #4f8ff0);
  border-bottom: 1px solid var(--blue-color-100, #4f8ff0);
}

.title {
  color: var(--colors-black-text, #222);
  font-size: 28px;
  font-weight: 800;
  line-height: 150%; /* 42px */
  text-transform: uppercase;
  text-align: left;
}
.title::after {
  content: "";
  display: block;
  margin-top: 10px;
  background: #4f8ff0;
  width: 50px;
  height: 3px;
}
.title_center {
  text-align: center;
}
.title_center::after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  background: #4f8ff0;
  width: 50px;
  height: 3px;
}

@media (max-width: 1024px) {
  .title {
    font-size: 24px;
  }
}
@media (max-width: 564px) {
  .title {
    font-size: 20px;
  }
}
.slider {
  display: flex;
  justify-content: space-between;
}
.slider__wrapper {
  display: flex;
  justify-content: space-between;
}
.slider__dot-wrapper {
  display: flex;
  align-items: flex-end;
}
.slider__dot {
  width: 4px;
  margin-right: 8px;
  height: 24px;
  background: var(--white-color-300, #e6e6e6);
  border: none;
}
.slider__dot_active {
  height: 40px;
  background: var(--blue-color-100, #4f8ff0);
}
.slider__button-wrapper {
  display: flex;
  align-items: center;
}
.slider__button-slash {
  width: 32px;
  background: #e6e6e6;
  border: none;
  height: 2px;
  transform: rotateZ(115deg);
}
.slider__button-slash_blue {
  background: #4f8ff0;
}
.slider__button-arrow {
  background: none;
  border: none;
}

@media (max-width: 564px) {
  .slider {
    display: none;
  }
}
@media (max-width: 717px) {
  .slider__button-wrapper {
    display: none;
  }
}
.header {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
}
.header__top {
  min-height: 52px;
  background: #010101;
}
.header__contacts {
  display: flex;
  align-items: center;
}
.header__bottom {
  min-height: 112px;
  background: rgba(1, 1, 1, 0.76);
}
.header__call-btn {
  color: var(--blue-color-100, #4f8ff0);
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  background: inherit;
  border: none;
  cursor: pointer;
}
.header__container {
  min-height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1024px) {
  .header__bottom {
    min-height: 84px;
  }
}
.btn {
  padding: 16px 24px;
  border: 2px solid var(--blue-color-100, #4f8ff0);
  background: var(--blue-color-100, #4f8ff0);
  color: var(--white-color-100, #fff);
  text-align: center;
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
  transition: 0.3s;
}
.btn:hover {
  border: 2px solid var(--blue-color-100, #4f8ff0);
  background: var(--white-color-100, #fff);
  color: var(--blue-color-100, #4f8ff0);
}
.btn:active {
  border: 2px solid var(--blue-color-100, #4f8ff0);
  background: var(--blue-color-100, #4f8ff0);
  color: var(--white-color-100, #fff);
}
.btn_grey {
  color: var(--colors-black-text, #222);
  background: var(--white-color-300, #e6e6e6);
  border: 2px solid var(--white-color-300, #e6e6e6);
}
.btn_grey:hover {
  border: 2px solid var(--white-color-300, #e6e6e6);
  background: var(--white-color-100, #fff);
  color: var(--colors-black-text, #222);
}
.btn_grey:active {
  border: 2px solid var(--white-color-300, #e6e6e6);
  background: var(--white-color-300, #e6e6e6);
  color: black;
}

.home {
  min-height: 820px;
  margin-top: 52px;
  background: url("../img/bg/home_bg.webp") center center/cover no-repeat;
  padding: 260px 0 36px;
}
.home__title {
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  text-transform: uppercase;
}
.home__subtitle {
  display: block;
  color: var(--blue-color-100, #4f8ff0);
  font-size: 56px;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
}
.home__text {
  color: var(--white-color-100, #fff);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}
.home__btn {
  display: block;
  margin: 0 auto;
  margin-top: 48px;
}
.home__slider {
  margin-top: 192px;
}

@media (max-width: 1024px) {
  .home {
    min-height: 529px;
    padding: 148px 0 24px;
    background-size: cover;
  }
  .home__title {
    font-size: 24px;
  }
  .home__subtitle {
    font-size: 50px;
  }
  .home__text {
    font-size: 18px;
  }
  .home__btn {
    margin-top: 46px;
  }
  .home__slider {
    margin-top: 36px;
  }
}
@media (max-width: 564px) {
  .home {
    min-height: 486px;
    padding: 142px 0 60px;
    background-position: -120px;
    background-size: cover;
  }
  .home__title {
    font-size: 18px;
  }
  .home__subtitle {
    font-size: 30px;
  }
  .home__text {
    font-size: 16px;
    line-height: 150%;
  }
  .home__btn {
    margin-top: 32px;
  }
  .home__slider {
    display: none;
  }
}
.card {
  position: relative;
  padding: 50px 32px;
  background-color: #fff;
  color: #222;
  cursor: url(../icons/la_hand-pointer-gray.svg), pointer;
  transition: 0.3s;
}
.card__title {
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
}
.card__descr {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.card__icon {
  display: block;
  margin: 0 auto;
}
.card__title, .card__descr {
  max-height: 4em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.card:hover {
  background: var(--blue-color-100, #4f8ff0);
  color: #ffffff;
}
.card:hover path {
  fill: white;
}

@media (max-width: 1024px) {
  .card__title {
    line-height: 120%;
  }
}
@media (max-width: 564px) {
  .card {
    min-width: 250px;
    max-width: 250px;
    padding: 24px 16px 32px;
  }
}
.services {
  padding: 80px 0;
  background: #f7f7f7;
}
.services__subtitle {
  max-width: 920px;
  margin-top: 24px;
}
.services__wrapper {
  margin-top: 48px;
  gap: 38px 24px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(336px, 1fr));
}
.services__card {
  gap: 10px;
}
.services__btn {
  display: block;
  margin: 0 auto;
  margin-top: 48px;
}

@media (max-width: 1024px) {
  .services {
    padding: 60px 0;
    min-height: 1130px;
  }
  .services__wrapper {
    gap: 24px;
  }
  .services__subtitle {
    max-width: 920px;
  }
}
@media (max-width: 564px) {
  .services {
    padding: 40px 0;
    min-height: 467px;
  }
  .services__subtitle {
    margin-top: 16px;
    max-width: 920px;
  }
  .services__wrapper {
    margin-top: 24px;
    gap: 16px;
    display: flex;
    justify-content: space-between;
    overflow: scroll;
  }
  .services__btn {
    margin-top: 30px;
  }
}
.about {
  min-height: 548px;
  padding: 80px 0;
}
.about__container {
  display: flex;
  justify-content: space-between;
}
.about__title {
  text-align: left;
}
.about__title span {
  color: var(--blue-color-100, #4f8ff0);
}
.about__subtitle {
  text-align: left;
  margin-top: 37px;
  max-width: 720px;
  line-height: 150%;
}
.about__buttons {
  margin-top: 35px;
}
.about__btn {
  margin-right: 24px;
}

@media (max-width: 1323px) {
  .about {
    padding: 60px 0;
    min-height: 542px;
  }
  .about img {
    display: none;
  }
  .about__title {
    font-size: 24px;
  }
  .about__text-block {
    margin: 0 auto;
  }
  .about__subtitle {
    display: block;
    max-width: 696px;
  }
}
@media (max-width: 823px) {
  .about__btn {
    display: block;
    margin: 0 auto;
  }
  .about__buttons :last-child {
    margin-top: 24px;
  }
  .about__title {
    font-size: 20px;
  }
}
@media screen and (max-width: 564px) {
  .article {
    min-width: 250px;
  }
  .article__title {
    font-size: 12px;
  }
}
.sliders {
  margin: 0 auto;
  overflow: scroll;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  /* Hide scrollbar for Chrome, Safari and Opera */
}
.sliders::-webkit-scrollbar {
  display: none;
}
.sliders__track {
  margin-top: 30px;
  display: flex;
  gap: 24px;
  overflow: scroll;
  padding: 5px 0;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.sliders__track::-webkit-scrollbar {
  display: none;
}
.sliders__item {
  cursor: pointer;
}
.sliders__item:first-child {
  margin-left: calc((100vw - 1320px) / 2);
}
.sliders__item:last-child {
  margin-right: calc((100vw - 1320px) / 2);
}

@media (max-width: 1335px) {
  .sliders__item:first-child {
    margin-left: 15px;
  }
  .sliders__item:last-child {
    margin-right: 15px;
  }
}
.lawyers {
  background: var(--secondary-bg);
  padding: 80px 0;
}
.lawyers__title {
  text-align: center;
}
.lawyers__subtitle {
  color: var(--colors-black-text, #222);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  max-width: 920px;
  margin: 24px auto 0;
}
@media (max-width: 1256px) {
  .lawyers {
    padding: 60px 0;
  }
  .lawyers__wrapper {
    overflow: scroll;
  }
}
.review {
  max-width: 648px;
  min-width: 576px;
  padding: 32px;
  background: #fff;
  box-shadow: 2px 2px 10px 0px rgba(33, 33, 33, 0.15);
}
.review__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review__photo {
  margin-right: 24px;
}
.review__text {
  margin-top: 16px;
  max-height: 7em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.review__name-wrapper {
  margin-right: auto;
}
.review__company {
  font-size: 14px;
  font-weight: 300;
}
.review__name {
  font-size: 20px;
}

@media (max-width: 956px) {
  .review {
    padding: 24px;
  }
  .review__icon {
    display: none;
  }
  .review__text {
    max-height: 44em;
    -webkit-line-clamp: 19;
  }
}
@media screen and (max-width: 956px) and (max-width: 564px) {
  .review {
    min-width: 340px;
    padding: 24px;
  }
  .review__name {
    font-size: 18px;
  }
}
.feedback {
  padding: 80px 0;
  background: url("../img/bg/feedback_bg.webp") center center/cover no-repeat;
}
.feedback__header {
  display: flex;
  justify-content: space-between;
}
.feedback__middle-wrapper {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}
.feedback__buttons {
  margin-top: 32px;
}
.feedback__btn {
  margin-right: 24px;
}

@media (max-width: 1350px) {
  .feedback {
    padding: 60px 0;
  }
  .feedback__middle-wrapper {
    overflow: scroll;
    gap: 24px;
  }
  .feedback__buttons {
    margin-top: 36px;
  }
}
@media (max-width: 717px) {
  .feedback {
    padding: 31px 0 40px;
  }
  background-size .feedback__middle-wrapper {
    margin-top: 24px;
    overflow-x: scroll;
    gap: 24px;
  }
  .feedback__buttons {
    margin-top: 24px;
  }
  .feedback__buttons :last-child {
    margin-top: 16px;
  }
  .feedback__btn {
    display: block;
    margin: 0 auto;
  }
}
.article {
  color: #222;
  max-width: 424px;
  min-width: 336px;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.article:hover h3 {
  color: var(--blue-color-100, #4f8ff0);
}
.article__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  cursor: url(../icons/la_hand-pointer-gray.svg), pointer;
  transition: 0.3s;
}
.article__date-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
}
.article__date-line {
  width: 314px;
  height: 1px;
  background: #f8f5f4;
}
.article__text {
  font-size: 14px;
  font-weight: 400;
  max-height: 6em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.article__img-block {
  position: relative;
  min-height: 200px;
  max-height: 270px;
}
.article__img-block:hover + h3 {
  color: var(--blue-color-100, #4f8ff0);
  transition: 0.3s;
}
.article__overlay {
  position: absolute;
  opacity: 0;
  inset: 0 0 0px 0;
  background: rgba(79, 143, 240, 0.4);
  color: #222;
  transition: 0.3s;
  cursor: url(../icons/la_hand-pointer-white.svg), pointer;
}
.article__overlay-div {
  transition: 0.3s;
  width: 41.165px;
  height: 40px;
  background: var(--white-color-100, #fff);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.article__overlay-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.article__overlay:hover {
  opacity: 1;
  background: rgba(79, 143, 240, 0.4);
}

@media screen and (max-width: 956px) {
  .article__title {
    font-size: 14px;
  }
  .article__text {
    max-height: 20em;
    -webkit-line-clamp: 10;
  }
}
@media screen and (max-width: 564px) {
  .article {
    min-width: 250px;
  }
  .article__title {
    font-size: 12px;
  }
}
.matherials {
  padding: 80px 0;
}
.matherials img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.matherials__title {
  text-align: center;
}
.matherials__subtitle {
  max-width: 920px;
  margin: 37px auto 0;
}
.matherials__middle-wrapper {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.matherials__btn {
  display: block;
  margin: 48px auto 0;
}

@media (max-width: 956px) {
  .matherials {
    padding: 60px 0;
    min-height: 863px;
  }
  .matherials__middle-wrapper {
    overflow-x: scroll;
  }
}
@media (max-width: 564px) {
  .matherials {
    padding: 40px 0;
    min-height: 556px;
  }
  .matherials__btn {
    margin: 40px auto 0;
  }
}
.contact {
  max-width: 419px;
  min-width: 331px;
}
.contact__item {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.contact__item a {
  display: flex;
  align-items: center;
}
.contact__icon-container {
  width: 55px;
  height: 55px;
  background: var(--color-black-100, #2c2c2c);
  margin-right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__info {
  margin-left: 0 auto;
}
.contact__label {
  color: var(--white-color-400, #8c8c8c);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.contact__detail {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}

@media screen and (max-width: 955px) {
  .contact__detail {
    font-size: 14px;
  }
  .contact__icon-container {
    width: 45px;
    height: 45px;
    margin-right: 16px;
  }
  .contact__icon {
    width: 24px;
    height: 24px;
  }
}
@media screen and (max-width: 670px) {
  .contact__item {
    width: 331px;
  }
  .contact__icon {
    width: 24px;
    height: 24px;
  }
}
.menu {
  min-width: 312px;
  transition: 0.3s;
}
.menu__list {
  color: var(--white-color-100, #fff);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  list-style: none;
}
.menu__list li {
  margin-bottom: 16px;
}
.menu__link:hover {
  color: #4f8ff0;
}

.profile {
  color: #fff;
  max-width: 424px;
}
.profile__name {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}
.profile__post {
  font-size: 14px;
  font-weight: 300;
  line-height: 120%;
}
.profile__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%; /* 21px */
  margin-bottom: 24px;
}
.profile__top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.profile__photo {
  margin-right: 24px;
}
.profile__photo img {
  display: block;
  margin: 0 auto;
}
.profile__name-wrapper {
  margin-right: auto;
}

.footer {
  background: var(--colors-black-text, #222);
}
.footer__top {
  padding: 80px 0;
}
.footer__top-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__bottom {
  min-height: 49px;
  background: #181818;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__subtitle {
  color: #f8f5f4;
  width: 862px;
}
.footer__line {
  margin-top: 48px;
  width: 100%;
  height: 2px;
  opacity: 0.2;
  background: #8c8c8c;
}
.footer__top-bottom {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}
.footer__menu {
  margin-left: auto;
  margin-right: 24px;
}
.footer__rights, .footer__policy {
  color: var(--white-color-100, #fff);
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}
.footer__policy:hover {
  color: var(--blue-color-100, #4f8ff0);
}
.footer__policy-link {
  transition: 0.3s;
}

@media screen and (max-width: 1240px) {
  .footer__logo-title {
    font-size: 20px;
  }
  .footer__logo-highlight {
    font-size: 28px;
  }
  .footer__top {
    padding: 60px 0;
  }
  .footer__top-bottom {
    margin-top: 24px;
  }
  .footer__subtitle {
    display: none;
  }
  .footer__line {
    margin-top: 24px;
  }
  .footer__menu {
    display: none;
  }
}
@media screen and (max-width: 955px) {
  .footer__menu {
    margin-right: 16px;
  }
}
@media screen and (max-width: 908px) {
  .footer__top-bottom {
    flex-direction: column;
    align-items: left;
    gap: 24px;
  }
  .footer__bottom {
    height: 49px;
  }
}
@media screen and (max-width: 670px) {
  .footer__bottom {
    height: 74px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}/*# sourceMappingURL=style.css.map */