.about {
  min-height: 548px;
  padding: 80px 0;

  &__container {
    @include flex-row-sb;
  }

  &__title {
    text-align: left;
    span {
      color: var(--blue-color-100, #4f8ff0);
    }
  }

  &__img {
    object-fit: cover;
    object-position: center;
  }

  &__subtitle {
    text-align: left;
    margin-top: 37px;
    max-width: 720px;
    // max-height: 264px;

    line-height: 150%; 
  }

  &__buttons {
    margin-top: 35px;
    // .btn{
    //     &:last-child {
    //       margin-left: 24px;
    //     }
    // }
  }

  &__btn {
    margin-right: 24px;
  }
}

@media (max-width: 1323px) {
  .about {
    padding: 60px 0;
    min-height: 542px;
    // &__container {
    //   display: block;
    // }

    img {
      display: none;
    }

    &__title {
      font-size: 24px;
    }

    &__text-block {
      margin: 0 auto;
    }

    &__subtitle {
      display: block;
      max-width: 696px;
    }
  }
}

@media (max-width: 823px) {
  .about {
    &__btn {
      display: block;
      margin: 0 auto;
    }

    &__buttons {
      :last-child {
        margin-top: 24px;
      }
    }

    &__title {
      font-size: 20px;
    }
  }
}
