.matherials {
  min-height: 913px;
  padding: 80px 0;

  &__title {
    text-align: center;
  }

  &__subtitle {
    max-width: 920px;
    margin: 37px auto 0;
  }

  &__middle-wrapper {
    margin-top: 48px;
    @include flex-row-sb;
  }

  &__btn {
    display: block;
    margin: 48px auto 0;
  }
}
