.article {
  color: #222;
  max-width: 424px;
  height: 481px;

  &__title {
    margin-top: 13px;

    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
  }

  &__date {
    margin-top: 16px;

    font-size: 12px;
    font-weight: 300;
  }

  &__text {
    margin-top: 16px;

    font-size: 14px;
    font-weight: 400;

    //
    max-height: 6em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  // &__overlay {
  //   position: absolute;
  //   opacity: 1;
  //   text-align: center;
  //   padding: 83px 15px;

  //   background: #fff;
  //   color: #222;
  //   transition: 0.3s;

  //   &:hover {
  //     opacity: 1;
  //   }
  // }
  
}
