.article {
  color: #222;
  max-width: 424px;
  height: 481px;

  &__title {
    margin-top: 13px;

    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
  }

  &__date-div {
    @include flex-row-sb-aic;
    margin-top: 16px;
    font-size: 12px;
    font-weight: 300;
  }

  &__date-line {
    width: 314px;
    height: 1px;
    background: #f8f5f4;
  }

  &__text {
    margin-top: 16px;

    font-size: 14px;
    font-weight: 400;

    //
    max-height: 6em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  &__img-block {
    position: relative;

    &:hover {
      + h3 {
        color: var(--blue-color-100, #4f8ff0);

        transition: 0.3s;
      }
    }
  }

  &__overlay {
    position: absolute;
    opacity: 0;
    inset: 0 0 6px 0;

    background: rgba(79, 143, 240, 0.4);
    color: #222;
    transition: 0.3s;

    &:hover {
      opacity: 1;
      background: rgba(79, 143, 240, 0.4);
    }
  }
}
