.btn {
  padding: 16px 24px;

  border: 2px solid var(--blue-color-100, #4f8ff0);
  background: var(--blue-color-100, #4f8ff0);

  color: var(--white-color-100, #fff);
  text-align: center;
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;

  cursor: url(../icons/la_hand-pointer-gray.svg), pointer;
  transition: 0.3s;

  &:hover {
    border: 2px solid var(--blue-color-100, #4f8ff0);
    background: var(--white-color-100, #fff);

    color: var(--blue-color-100, #4f8ff0);
  }

  &:active {
    border: 2px solid var(--blue-color-100, #4f8ff0);
    background: var(--blue-color-100, #4f8ff0);

    color: var(--white-color-100, #fff);
  }

  &_grey {
    color: var(--colors-black-text, #222);
    background: var(--white-color-300, #e6e6e6);

    border: 2px solid var(--white-color-300, #e6e6e6);
    &:hover {
      border: 2px solid var(--white-color-300, #e6e6e6);
      background: var(--white-color-100, #fff);
      color: var(--colors-black-text, #222);
    }

    &:active {
      border: 2px solid var(--white-color-300, #e6e6e6);
      background: var(--white-color-300, #e6e6e6);

      color: black;
    }
  }

  &__link {
    cursor: url(../icons/la_hand-pointer-gray.svg), pointer;
  }
}
