.logo {
  &__title {
    color: var(--white-color-100, #fff);
    font-size: 20px;
    font-weight: 900;
    text-align: left;

    // изменил line-height: 150% на 130%, что бы уменьшить расстояние между спэном и подзаголовком. Это вместо mt -10px
    line-height: 130%; /* 30px */
    text-transform: lowercase;
  }

  &__highlight {
    color: var(--blue-color-100, #4f8ff0);
    font-size: 28px;
    text-transform: uppercase;
    display: block;
  }
}

@media (max-width: 1024px) {
  .logo {
    &__title {
      font-size: 16px;
    }

    &__highlight {
      font-size: 22px;
    }
  }
}
