.menu {
  min-width: 312px;

  &__list {
    color: var(--white-color-100, #fff);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    list-style: none;

    li {
      // можно убрать отступ последнему элементу
      margin-bottom: 16px;
    }
  }

  &__link {
    &:hover {
      color: #4f8ff0;
    }
  }
}
