.nav {
  &__list {
    display: flex;
    gap: 32px;
    color: var(--white-color-100, #fff);
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;

    /* убираю маркеры списка */
    list-style: none;
  }

  &__link {
    &:hover {
      color: #4f8ff0;
      text-decoration: underline;
    }
  }

}

  @media (max-width: 1024px) {
    .nav {
      display: none;
    }
  }
