.person {
  position: relative;

  max-width: 320px;
  color: #222;
  cursor: url(../icons/la_hand-pointer-blue.svg), pointer;

  /* минимальная ширина по адаптивному макету */
  min-width: 300px;

  background: #fff;
  box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);

  &__img {
    display: block;
    /* что бы ширина зависела от родителя */
    width: 100%;
    height: 320px;

    /* это свойство для того, если вдруг картинка не загрузится */
    background: lightgray;

    /* если картинка будет другого размера, стандартный шаблон */
    object-fit: cover;
    object-position: center;
  }

  &__text {
    padding: 24px 16px;
    text-align: center;
  }

  &__name {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
  }

  &__post {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    line-height: 120%;
    text-transform: lowercase;
  }

  &__name,
  &__post {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__desc {
    margin-top: 40px;
    font-weight: 300;
  }

  &__experience {
    margin-top: 40px;
    font-weight: 600;
    font-size: 16px;
  }

  &__overlay {
    position: absolute;
    opacity: 0;
    inset: 0;
    text-align: center;
    padding: 83px 15px;

    background: #fff;
    color: #222;
    transition: 0.3s;

    min-height: inherit;

    &:hover {
      opacity: 1;
    }
  }
}

@media (max-width: 1265px) {
  .person {
    &__name {
      margin-top: -6px;
    }
    &__post {
      margin-top: 10px;
    }

    &__desc {
      margin-top: 20px;
    }

    &__experience {
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 564px) {
  .person {
    min-width: 250px;
  }
}
