.title {
  color: var(--colors-black-text, #222);

  font-size: 28px;
  font-weight: 800;
  line-height: 150%; /* 42px */
  text-transform: uppercase;
  text-align: left;

  &::after {
    content: "";
    display: block;
    margin-top: 10px;
    background: #4f8ff0;
    width: 50px;
    height: 3px;
  }

  &_center {
    text-align: center;

    &::after {
      content: "";
      display: block;
      margin: 0 auto;
      margin-top: 10px;
      background: #4f8ff0;
      width: 50px;
      height: 3px;
    }
  }
}

@media (max-width: 1024px) {
  .title {
    font-size: 24px;
  }
}

@media (max-width: 564px) {
  .title {
    font-size: 20px;
  }
}
